{% load static %}
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>{{ app_name }}</h1>
      </div>
      {% if link_tipos != None %}
        <div class="col-sm-6 ">
          <div class="btn-group breadcrumb float-sm-right">
            <button type="button" class="btn btn-default dropdown-toggle dropdown-icon" data-toggle="dropdown">
              {{ link_tipos.0.nome }}
            </button>
            <div class="dropdown-menu">
              {% for value in link_tipos|slice:"1:" %}
                <a class="dropdown-item" href="{{ value.link }}">{{ value.nome }}</a>
<!--              <a class="dropdown-item" href="#">Controle de pragas</a>-->
<!--              <a class="dropdown-item" href="#">Limpeza predial</a>-->
<!--              <a class="dropdown-item" href="#">Limpeza urbana</a>-->
              {% endfor  %}
            </div>
          </div>
  <!--        <ol class="breadcrumb float-sm-right">-->
  <!--          <li class="breadcrumb-item"><a href="#">Home</a></li>-->
  <!--          <li class="breadcrumb-item active">Simple Tables</li>-->
  <!--        </ol>-->
        </div>
      {% endif %}
    </div>
  </div><!-- /.container-fluid -->
</section>